.home-section{
    .eror-title{
        margin-bottom: 5.9rem;
    }
    .eror-button{
        padding: 1.6rem 2.7rem;
        font-family: $lato;
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: 500;
    }
}

