$pink: #ECD9D9;

header{
    padding: 3.2rem 0;
    .navbar-brand{
        max-width: 200px;
        img{
            display: block;
        }
    }
    
    .navbar-toggler{
        border: none;
        box-shadow: none !important;
        span{
            width: 3rem;
            height: 3px;
            background-color: $pink;
            margin-bottom: 5px;
            display: block;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
    
    .navbar-nav{
        .nav-item{
            @media(min-width:992px){
                margin-left: 6.8rem;
            }
            .nav-link{
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.68rem;
                font-family: $lato;
                padding: 10px 0;
                @media(min-width:992px){
                    padding: 0;
                }
            }
        }
    }
}

