$pink: #ECD9D9;
$light-pink: #D0B6B666;

.profesionals-section{
    margin-bottom: 8.7rem;
    .profesionals-section-title{
        font-family: $playfair;
        margin-bottom: 2.8rem;
    }
    .profesionals-item{
        border: 2px solid $pink;
        padding: 8.7rem 9.4rem;
        .profesionals-item-data{
            .profesionals-item-title{
                margin-bottom: 1.7rem;
                font-size: 3.6rem;
            }
            .profesionals-item-description{
                font-weight: 300;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
                @media(min-width: 992px){
                    -webkit-line-clamp: 8;
                }
            }
        }
    }
}



