$pink: #ECD9D9;
$light-pink: #D0B6B666;

.services-single-section{
    margin-top: 4.9rem;
    @media(min-width:992px){
        margin-bottom: 15.9rem;
    }
    .services-single-section-title{
        font-family: $playfair;
        margin-bottom: 4.6rem;
    }
    .services-single-item{
        .services-single-item-data{
            .services-single-item-title{
                margin-bottom: 1.7rem;
                font-size: 4.4rem;
                line-height: 5.3rem;
            }
            .services-single-item-description{
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
                @media(min-width: 992px){
                    -webkit-line-clamp: 10;
                }
            }
        }
    }
}

