.trends-section{
    padding: 0 0 9.7rem;
    .trends-section-title{
        margin-bottom: 2.8rem;
        font-family: $playfair;
    }

    .trends-section-item{
        position: relative;
        margin-bottom: 10rem;
        .trends-item-data-date{
            font-size: 1.4rem;
        }

        .trends-item-title{
            padding: 0 2.5rem 3rem;
            font-size: 1.6rem;

        }

        .trends-item-data{
            position: absolute;
            left: 7rem;
            right: 7rem;
            top: 15.9rem;
            background-color: #fff;
            margin-bottom: 10rem;

            @media(min-width:576px){
                top: 11rem;
                left: 1.5rem;
                right: 1.5rem;
            }

            @media(min-width: 768px){
                top: 15.9rem;
                left: 2.7rem;
                right: 2.7rem;
            }


        }
        .single-trend-link{
            text-decoration: none;
            color: #000;
            &:hover{
                color: $primary;
            }
        }
    }
}

